<p id="notice"><%= notice %></p>

<div class="ui cards">
  <% if current_user.present? %>
    <div class="ui card">
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="comment alternate outline icon"></i>
          What is cooking?
          <div class="inline">
            <br>
            <%= link_to 'Add a thought', new_thought_path %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @thoughts.each do |thought| %>
    <div class="ui card">
      <div class="content">
        <div class="header"><%= thought.title %></div>
        <div class="meta">
          <% if thought.read_time.present? %>
            <span>Read Time <%= thought.read_time %> Min </span>
          <% end %>
        </div>
        <p> <%= thought.contents[0..100] %> </p>
        <div class="extra content">
          <%= link_to 'Continue Reading ..', thought %>
          <% if current_user.present? %>
            <a href="<%= edit_thought_path(thought) %>"><i class="edit outline icon"></i></a>
            <%= link_to 'Delete', thought, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<%= will_paginate @thoughts %>
