<p id="notice"><%= notice %></p>

<h2><%= @thought.title %></h2>
Published on : <%= @thought.publish_date %> | Read time: <%= @thought.read_time %> minutes | Visible : <%= @thought.visible %>
<hr>
<p>
  <%= @thought.contents %>
</p>

<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
